:root {
  --text--color: rgb(31, 28, 28);
}
/* 전역변수만들어서 쓸수 있다. */
body {
  font-family: 'Nerko One', cursive;
  margin: 0%;
}
/* 바디부분 딱붙여놓고 */
a {
  text-decoration: none;
  color: var(--text--color);
}
/* 앵커테그 속성 다없애고 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.bar_logo {
  display: flex;
  font-size: 30px;
}

.bar_logo i {
  padding: 8px 12px;
}

.bar_menu {
  display: flex;
  list-style: none;
  font-size: 30px;
  padding-left: 0%;
  margin: 0px;
}

.bar_menu li {
  padding: 0px 12px;
}

.bar_menu li:hover {
  background-color: rgb(247, 83, 110);
  border-radius: 4px;
}

.bar_icons {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding-left: 0%;
  margin: 0px;
}

.bar_icons li {
  padding: 8px 12px;
}

.bar_togleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .bar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bar_menu li {
    width: 100%;
    text-align: center;
  }

  .bar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .bar_togleBtn {
    display: block;
  }

  .bar_menu.active {
    display: flex;
  }
}
