* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-color: bisque;
    height: 40vh;    
    margin: 10px;
    border-radius: 20px;
    flex: 0.5;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    color: white;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 0px;
}